.chat-container {
    background-color: #A41C32;
    width: 350px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    margin: 0em 0.5em 0.5em 0.5em;
}

.chat-content {
    height: 100px;
    padding: 0.5em;
    background-color: #e5e5e5;
    overflow-wrap: break-word;
    overflow-y: auto;
    border-radius: 0px;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: #c1c1c1;
}

.chat-content > div{
    max-width: 100%;
    margin: 0.5em 0em 0.5em 0em;
    width: auto;
    display: inline-block;
    background-color: white;
    padding: 0.5em;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

.chat-message-textbox {
    width: 99%;
    height: 2em;
    overflow: hidden;
    max-height: 120px;
    position:relative;

}

.chat-controls {
    background-color: inherit;
    text-align: right;
}

.chat-top {
    width: 100%;
    font-size: 0em;
    border-top-right-radius: inherit;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #A41C32;
    color: white;
}

.chat-top>.chat-group-name {
    width: 90%;
    font-size: initial;
    padding-left: 0.5em;
    vertical-align: middle;
}

.chat-top>div {
    display: inline-block;
}

.chat-top>.chat-controls{
    width: 10%;
    border-top-right-radius: inherit;
    background-color: inherit;
}

.chat-top > .chat-controls > button{
    width: auto;
    border-radius: inherit;
    background-color: #A41C32;
}

/*make chats-container into a grid*/
#chats-container{
    position: fixed;
    bottom: 0px;
    right: 2em;
    /*max-height: 100%;*/
}
