body {
    font-family: Helvetica;
    margin: 0px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav, .flex, .panel, .container, .thumbnail, .nav-item, #footer {
    box-sizing: border-box;
}

.container {
    margin: auto;
    padding: 1em;
}

.full {
    width: 100%;
}

.panel {
    background-color: #e5e5e5;
    padding: 1em;
    margin: 1em;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
    border-radius: 4px 4px 4px 4px;
}

.panel:hover {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.7);
    cursor: pointer;
}

.panel > hr {
    border: 1px solid rgba(0,0,0,0.3);
}

.controls {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

nav {
    justify-content: space-between;
    background-color: #A41C32;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
}

nav > .flex {
    align-items: stretch;
}

.nav-item {
    padding: 0.6em;
    color: inherit;
    text-decoration: none;
    line-height: 3;
    vertical-align: middle;
}

.nav-item:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.thumbnail {
    max-height: 36px;
    max-width: 36px;
    vertical-align: middle;
}

.large {
    max-height: 300px;
    max-width: 300px;
}

#footer {
    padding: 1em;
    text-align: center;
}