html,
body {
    height: 100%;
}

.container-fluid {
    background-color: #bdbcbc;
    min-height: 700px;
}

.dashboard-container {
    background-color: red;
}

.dashboard-item{
    display: inline-block;
    background-color: pink;
    margin: 0.5em;
    padding: 1em;
    max-width: 500px;
    max-height: 700px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.navbar {
    text-align: center;
    margin-bottom: 1em;
}

.navbar-nav{
    float: right;
    padding-right: 3em;
}