
/*
#A41C32 primary red
#93192D tint red
#01ce04 contrast green
*/

body {
    font-family: Helvetica;
    margin: 0px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav, .flex, .panel, .container, .thumbnail, .nav-item, #footer {
    box-sizing: border-box;
}

/*.profile{
    text-align: center;
}*/

.profile {
    margin: 1em;
    display: inline-block;
}

.container {
    margin: auto;
    padding: 1em;
}

.full {
    width: 100%;
}

.panel {
    background-color: #e5e5e5;
    padding: 1em;
    margin: 1em;
    color:  #a41c32;
    border-radius: 4px 4px 4px 4px;
  position:relative;
-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
   -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.2) inset;
}



.panel:before, .panel:after
{
	content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.panel:after
{
	right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*.panel:hover {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.8) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.3) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.3) inset;
}*/

.clickable {
    cursor: pointer;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.8) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.3) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.3) inset;
}

.panel > hr {
    border: 1px solid rgba(0,0,0,0.3);
}

.controls {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: #fff;
    background-color: #A41C32;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    z-index: 0;
}

.ctrlBtn, .coursesBtn, .colourBtn {
  text-decoration: none;
  color: #fff;
  background-color: #93192D;
  border-radius: 5px;
  padding: 5px 10px;
}

.ctrlBtn:hover, .coursesBtn:hover, .colourBtn:hover {
  background-color: #A41C32;
  cursor: pointer;
}


#modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

#modal-closer {
    position: fixed;
    top: 1em;
    right: 1em;
}

nav {
    justify-content: space-between;
    background-color: #A41C32;
    padding-left: 1em;
    padding-right: 1em;
    color: white;
}

nav > .flex {
    align-items: stretch;
}

.nav-item {
    padding: 0.6em;
    color: inherit;
    text-decoration: none;
    line-height: 3;
    vertical-align: middle;
    font-family: 'Roboto', Arial, sans-serif;
}


.nav-item:hover {
    padding: 0.6em;
    color: inherit;
    text-decoration: none;
    line-height: 3;
    vertical-align: middle;
    font-family: 'Roboto', Arial, sans-serif;
}


a {
    color: blue;
    cursor: pointer;
}

.hover:hover {
    /*background-color: rgba(255, 255, 255, 0.3);*/
    background-color: #93192D;
    cursor: pointer;
}

.hoverBS:hover {
    background-color: rgba(104, 93, 119, 0.15);
    cursor: pointer;
    }

.thumbnail {
    max-height: 36px;
    max-width: 36px;
    vertical-align: middle;
}

.large {
    max-height: 300px;
    max-width: 300px;
}

#footer {
    padding: 1em;
    text-align: center;
}

.course-link {
    text-decoration: none;
    color: inherit;
}

.btnPanel {
  text-decoration: none;
  color: #fff;
  background-color: #01ce04;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
}

.btnPanel:hover {
  text-decoration: none;
  color: #fff;
  background-color: #00A403;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 5px 10px;
  display: inline-block;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
