<!-- Default layout for the site. -->

<!DOCTYPE html>
<html>

<head>
    <title>
        {{ title }}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
</head>

<body>
    {{{ body }}}
</body>

</html>