<div class="full flex">
    <div class="container flex">
        {{#each courses}}
            <div class="panel full">
                <span>{{this.title}}</span>
                <br>
                <p>{{this.description}}</p>
                <!-- Update onclick to pass argument /course/:courseID -->
                <button onclick="requestView('/courses/{{this.title}}')">Go to course</button>
            </div>
        {{else}}
        <p class="center">No courses.</p>
        {{/each}}
    </div>
</div>
