<div class="full flex">
    <div class="full panel">
        <h1>{{courseTitle}}</h1>
        <hr>
        <p>
            DESC // Gonna need a seperate course collection
        </p>
    </div>
</div>