<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <!-- <style>
    body {
        background-image: url("images/loginbackground.png");
        background-repeat: repeat-x;
        background-repeat: no-repeat;
        background-position: center top;
    }

    nav, #chats-container, #footer  {
      visibility: hidden;
    }
    </style> -->
</head>

<link rel="stylesheet" type="text/css" href="css/loginp.css">
<div class="login">
    <input type="text" placeholder="Student ID" id="stuid">
    <input type="password" placeholder="Password" id="password">
    <a href="#" class="forgot">forgot password?</a>
    <input id="login-button" type="submit" value="Sign In" <!--onclick="requestView('/index')" -->
</div>
