<!-- Custom styles -->
<link rel="stylesheet" type="text/css" href="/css/resources.css">

    <main role="main">

      <!-- Jumbotron w/ 2 calls to action (Needs custom CSS for Buttons) -->
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">FREE Educational Resources</h1>
          <p class="lead text-muted">Everything from textbooks to software to scholarly articles can all be found and shared here in one easy to navigate place!</p>
            <button type="button" class="btn btn-secondary mx-1" onclick="requestView('/rList')">See what your friends are reading</a>
            <button type="button" class="btn btn-secondary mx-1" onclick="requestView('/rList')">View your Reading List</a>
        </div>
      </section>
<!-- Carousel was HERE but deleted because it makes the resources page look too commercial -->

<!-- Resources content in a 3 wide grid.
Thumbnail size is optimized for 348x225 image resolution -->
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <h3>Resource Title</h3>
                  <p class="card-text"> Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="colourBtn" onclick="requestView('/detail')">View</button>
                      <button type="button" class="colourBtn" onclick="requestView('/rList')">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 9 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <h3>Resource Title</h3>
                  <p class="card-text">The languages only differ in their grammar, their pronunciation and their most common words. </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="colourBtn" onclick="requestView('/detail')">View</button>
                      <button type="button" class="colourBtn" onclick="requestView('/rList')">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 11 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <h3>Resource Title</h3>
                  <p class="card-text">To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="colourBtn" onclick="requestView('/detail')">View</button>
                      <button type="button" class="colourBtn" onclick="requestView('/rList')">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 19 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <h3>Resource Title</h3>
                  <p class="card-text"> If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="colourBtn" onclick="requestView('/detail')">View</button>
                      <button type="button" class="colourBtn" onclick="requestView('/rList')">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 22 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <h3>Resource Title</h3>
                  <p class="card-text">The new common language will be more simple and regular than the existing European languages.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="colourBtn" onclick="requestView('/detail')">View</button>
                      <button type="button" class="colourBtn" onclick="requestView('/rList')">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 5 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <h3>Resource Title</h3>
                  <p class="card-text">To an English person, it will seem like simplified English, as a skeptical Cambridge friend of mine told me what Occidental is.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="colourBtn" onclick="requestView('/detail')">View</button>
                      <button type="button" class="colourBtn" onclick="requestView('/rList')">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 12 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <h3>Resource Title</h3>
                  <p class="card-text"> It will be as simple as Occidental; in fact, it will be Occidental. The European languages are members of the same family.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="colourBtn" onclick="requestView('/detail')">View</button>
                      <button type="button" class="colourBtn" onclick="requestView('/rList')">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 8 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <h3>Resource Title</h3>
                  <p class="card-text"> Their separate existence is a myth. For science, music, sport, etc, Europe uses the same vocabulary.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="colourBtn" onclick="requestView('/detail')">View</button>
                      <button type="button" class="colourBtn" onclick="requestView('/rList')">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 14 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <h3>Resource Title</h3>
                  <p class="card-text">The languages only differ in their grammar, their pronunciation and their most common words.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="colourBtn" onclick="requestView('/detail')">View</button>
                      <button type="button" class="colourBtn" onclick="requestView('/rList')">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 16 students liked</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Bottom Pagination tabs -->
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </div>

    </main>

<!-- Footer -->
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>All images, text and descriptions are currently placeholder while our legal team negotiates with copyright holders.</p>
        <p>New assets, tools and resources will be continuously added. Have a Creative Commons or Public Domain suggestion? <a href="http://connecteducation.ca/contact">Contact Us!</a></p>
      </div>
    </footer>
