<!-- Custom styles for this template -->
<link rel="stylesheet" type="text/css" href="/css/resources.css">

    <main role="main">
      
      <!-- Jumbotron w/ 2 calls to action (Needs custom CSS for Buttons) -->
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">FREE Educational Resources</h1>
          <p class="lead text-muted">Everything from textbooks to software to scholarly articles can all be found and shared here in one easy to navigate place!</p>
          <p>
            <a href="#" class="btn btn-secondary">See what your friends are reading</a>
            <a href="#" class="btn btn-secondary">View your Reading List</a>
          </p>
        </div>
      </section>
<!-- Carousel was HERE but deleted because it makes the resources page look too commercial -->

<!-- Resources content in a 3 wide grid.
Thumbnail size is optimized for 348x225 image resolution -->
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestView('/detail')">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 9 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestView('/detail')">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 9 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestView('/detail')">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Reading List</button>
                    </div>
                    <small class="text-muted"><i class="far fa-heart"></i> 9 students liked</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestView('/detail')">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Reading List</button>
                    </div>
                    <small class="text-muted">9 <i class="far fa-heart"></i></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestView('/detail')">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Reading List</button>
                    </div>
                    <small class="text-muted">9 <i class="far fa-heart"></i></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestView('/detail')">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Reading List</button>
                    </div>
                    <small class="text-muted">9 <i class="far fa-heart"></i></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestView('/detail')">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Reading List</button>
                    </div>
                    <small class="text-muted">9 <i class="far fa-heart"></i>'s</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestView('/detail')">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Reading List</button>
                    </div>
                    <small class="text-muted">9 <i class="far fa-heart"></i>'s</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="Card image cap" onclick="requestView('/detail')">
                <div class="card-body">
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="requestView('/detail')">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Add to Reading List</button>
                    </div>
                    <small class="text-muted">9 <i class="far fa-heart"></i>'s</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Bottom Pagination tabs -->
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </div>

    </main>

<!-- Footer -->
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>All images, text and descriptions are currently placeholder while our legal team negotiates with copyright holders.</p>
        <p>New assets, tools and resources will be continuously added. Have a Creative Commons or Public Domain suggestion? <a href="http://connecteducation.ca/contact">Contact Us!</a></p>
      </div>
    </footer>