<!-- Reading List -->
<!-- Custom styles -->
<link rel="stylesheet" type="text/css" href="/css/rList.css">

<div class="container">
      <!-- Page Heading -->
      <h1> <!--{{firstName}} {{lastName}}'s' --> Your Reading List</h1>

      <!-- Resource One -->
      <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0 hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="" onclick="requestView('/detail')">
        </div>
        <div class="col-md-8">
          <h3>Resource One</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
          <button type="button" class="btn btn-outline-secondary" onclick="requestView('/detail')">View Resource</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Resource Two -->
      <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0 hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="" onclick="requestView('/detail')">
        </div>
        <div class="col-md-8">
          <h3>Resource Two</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
          <button type="button" class="btn btn-outline-secondary" onclick="requestView('/detail')">View Resource</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Resource Three -->
      <div class="row">
        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0 hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="" onclick="requestView('/detail')">
        </div>
        <div class="col-md-8">
          <h3>Resource Three</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
          <button type="button" class="btn btn-outline-secondary" onclick="requestView('/detail')">View Resource</a>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Resource Four -->
      <div class="row">

        <div class="col-md-4">
            <img class="img-fluid rounded mb-3 mb-md-0 hover" src="http://placehold.it/348x225/A41C32/ffffff" alt="" onclick="requestView('/detail')">
        </div>
        <div class="col-md-8">
          <h3>Resource Four</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
          <button type="button" class="btn btn-outline-secondary" onclick="requestView('/detail')">View Resource</a>
        </div>
      </div>
      <!-- /.row -->
    </div>
</div>