<div class="full flex">
    <div class="container flex">
        <!-- Make each course a link -->
        <div class="panel full">
            <img class="large" src="{{avatarDir}}" alt="avatar">
            <h1>{{userName}}</h1>
            <hr>
            <p>{{bio}}</p>
            <hr>
            <!-- COURSES -->
        </div>
    </div>
</div>